@charset "UTF-8";

@import "npm://xsm-less-utils";

.case-preview-item {
	padding: 5px;
	border: 1px solid #eee;
	#xsm.clear-float();

	.image,
	.info {
		float: left; height: 60px;
	}
	.image {
		width: 60px;
		img {
			display: block; max-height: 100%;
		}
	}
	.info {
		p {
			line-height: 30px;
			font-size: 14px;
		}
		.name,
		.date {
			color: #4BA9E6;
		}
	}

	.cmd {
		float: right;

		.btn {
			display: block; height: 60px; width: 100px;
			line-height: 60px; text-align: center;
			background: #B0DAF5  url(../icons/icon-open.png) center center no-repeat; color: #fff;
			&:hover {
				background-color: @theme-color;
			}
		}
	}
}
